<!DOCTYPE html>
{% extends 'induspage.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <div class="card-body">
                  <h4 class="card-title">Basic form elements</h4>
                  <p class="card-description">
                    Basic form elements
                  </p>
                  <form class="forms-sample" method="post" action="{% url 'updateproduct' dataid=data.id %}" enctype="multipart/form-data">
                      {% csrf_token %}

                    <div class="form-group">
                      <label for="exampleSelectGender">Category NAME</label>
                        <select class="form-control" id="exampleSelectGender" name="category" value="{{data.Category_name}}">
                          <option>Male</option>
                          <option>Female</option>
                        </select>
                      </div>
                    <div class="form-group">
                      <label for="exampleInputName1">Product Name</label>
                      <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="productname" value="{{data.Productname}}">
                    </div>

                     <div class="form-group">
                      <label for="exampleInputCity1">QUANTITY</label>
                      <input type="number" class="form-control" id="exampleInputCity1" placeholder="Location" min="1" max="10" name="quantity" value="{{data.Quantity}}">
                    </div>

                     <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" id="exampleTextarea1" rows="4" name="description">{{data.Descriptions}}</textarea>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputName1">Price</label>
                      <input type="text" class="form-control" id="exampleInputName" placeholder="Name" name="price" value="{{data.Price}}">
                    </div>



                    <div class="form-group">
                      <label>File upload</label>

                      <div class="input-group col-xs-12">
                          <img src="{{data.Image.url}}" height="100px" width="100px">
                        <input type="file" name="image" class="form-control file-upload-info"  placeholder="Upload Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>


                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
</body>
</html>

{% endblock %}